{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% if email_visible %}
  {% if user.email_is_private %}
    <tooltip-item title="{% trans %}Not publicly visible.{% endtrans %}">
      <i class="fa-solid fa-lock"></i>
    </tooltip-item>
  {% endif %}

  <a href="mailto:{{ identity.email }}">
    <strong>{{ identity.email }}</strong>
  </a>

  {% if identity.email_confirmed %}
    <span class="badge badge-light border border-muted font-weight-normal">
      {% trans %}Confirmed{% endtrans %}
    </span>
  {% endif %}
{% endif %}
