{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "templates/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("templates.new_template", type=template_type), title=title %}
{% endblock %}

{% block content %}
  <submission-form>
    {{ render_csrf() }}

    {% include "templates/snippets/base_template_form.html" %}

    <div class="card mb-4">
      <div class="card-header py-2">
        <strong>{% trans %}Additional settings{% endtrans %}</strong>
        <small class="text-muted">
          ({% trans %}Additional settings of the template itself.{% endtrans %})
        </small>
      </div>
      <div class="card-body">
        <roles-field class="mb-0"
                     users-endpoint="{{ url_for('api.select_users') }}"
                     groups-endpoint="{{ url_for('api.select_groups') }}"
                     :user-request-params="{exclude: {{ current_user.id }}}"
                     :field="{{ form.roles }}">
          <roles-popover :small-layout="true" :roles="{{ get_object_roles('template') | tojson_escaped }}">
          </roles-popover>
        </roles-field>
      </div>
    </div>

    {% include "templates/snippets/base_template_data_form.html" %}

    <div class="card bg-light">
      <div class="card-body py-2">
        <submit-field class="my-1" :field="{{ form.submit }}"></submit-field>
      </div>
    </div>
  </submission-form>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data() {
        return {
          title: '',
          titleField: kadi.context.title_field,
        };
      },
      mounted() {
        this.title = this.titleField.data;
      },
    });
  </script>
{% endblock %}
