{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block content %}
  <language-prompt class="mb-4"
                   preferred-locale="{{ preferred_locale }}"
                   cookie-name="{{ const.LOCALE_COOKIE_NAME }}"
                   :cookie-secure="{{ config['LOCALE_COOKIE_SECURE'] | tojson_escaped }}">
  </language-prompt>
  <div class="card bg-primary text-white">
    <div class="row align-items-center">
      <div class="col-lg-7 d-none d-lg-block">
        <img class="img-fluid" width="500" src="{{ static_url('images/kadi_bg.png') }}">
      </div>
      <div class="col-lg-5 m-3 m-lg-0 text-center">
        <h5>
          <strong>{% trans %}Karlsruhe Data Infrastructure{% endtrans %}</strong>
        </h5>
        {% trans %}for Materials Science{% endtrans %}
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-4 mb-lg-0">
          <h5>
            <strong>{% trans %}Welcome to Kadi4Mat.{% endtrans %}</strong>
          </h5>
          {% trans strong_open="<strong>" | safe, strong_close="</strong>" | safe %}
            Kadi4Mat is the {{ strong_open }}Karlsruhe Data Infrastructure for Materials Science{{ strong_close }}, an
            open source software for managing research data.
          {% endtrans %}
        </div>
        <div class="col-lg-5">
          <a href="{{ url_for('main.about') }}" class="btn btn-sm btn-block btn-light">
            {% trans %}About{% endtrans %}
          </a>
          <a href="{{ url_for('main.help') }}" class="btn btn-sm btn-block btn-light">
            <i class="fa-regular fa-circle-question"></i> {% trans %}Help{% endtrans %}
          </a>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-5 offset-lg-7">
          <div class="form-row">
            <div class="{% if allow_registration() %}col-lg-6 mb-2 mb-lg-0{% else %}col-lg-12{% endif %}">
              <a href="{{ url_for('accounts.login') }}" class="btn btn-block btn-primary">
                {% trans %}Login{% endtrans %}
              </a>
            </div>
            {% if allow_registration() %}
              <div class="col-lg-6">
                <a class="btn btn-block btn-light" href="{{ url_for('accounts.local_provider_register') }}">
                  {% trans %}Register{% endtrans %}
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% set index_image = get_sys_config(const.SYS_CONFIG_INDEX_IMAGE) %}
  {% set index_text = get_sys_config(const.SYS_CONFIG_INDEX_TEXT) %}

  {% if index_image or index_text %}
    <div class="card bg-light mt-4">
      {% if index_image and index_text %}
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-lg-auto d-flex justify-content-center d-lg-block max-w-lg-50">
              <img class="img-thumbnail" src="{{ url_for('api.preview_index_image') }}">
            </div>
            <div class="col-lg pt-4">
              <markdown-renderer input="{{ index_text }}"></markdown-renderer>
            </div>
          </div>
        </div>
      {% elif index_image %}
        <div class="card-body text-center">
          <img class="img-thumbnail" src="{{ url_for('api.preview_index_image') }}">
        </div>
      {% elif index_text %}
        <div class="card-body pb-1">
          <markdown-renderer input="{{ index_text }}"></markdown-renderer>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {{ template_hook("kadi_get_index_templates") }}
{% endblock %}
